body{
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: rgb(177, 177, 177);
 }

 .main{
    width: 378px;
    height: 540px;
    background-color: white;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px; 
 }

 .main input[type='text'] {
    width: 100%;
    position: relative;
    height: 65px;
    top: 5px;
    text-align: right;
    font-size: 40px;
    display: flex;
    margin-bottom: 15px;
    color: black;
 }


 .btn input[type='button']{
    width:85px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 10%;
    font-weight: bold;
}


.btn input[type='button']:hover{
   background-color: rgb(116, 130, 139);
   box-shadow: 2px;
   color: rgb(255, 255, 255);
}



.container {
   display: flex; /* Use flexbox for layout */
   align-items: center; /* Vertically center the content */
   margin-top: 5px; /* Add some spacing */
   margin-bottom: 5px;
   font-size: 20px;
}

.image {
   width: 40px;
   height: 40px; /* Adjust image width as needed */
   margin-right: 20px;
   margin-left: 5px; /* Add spacing between image and title */
}





